body {
	color: white;
	-webkit-text-stroke: 0.25px black;
}

#contentwrapper {
	background-image: linear-gradient(black, red);
}

#firstHeading {
	color: red;
}

#tweekiTOC #toc ul > li > ul {
    border-color: red;
}

.active{
	background-color: red;
}