body {
	color: white;
}

#contentwrapper {
	background-color: black;
}

#firstHeading {
	background-image: linear-gradient(hotpink, red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tweekiTOC #toc ul > li > ul {
    border-color: white;
}

.active{
	background-color: red;
}